/* Изменения для мобильной версии */
@media (max-width: 600px) {
    .about-me-content {
        flex-direction: column; /* Изменяем направление на колонку для мобильных устройств */
        align-items: center; /* Центрируем элементы по горизонтали */
    }

    .about-me-image {
        margin-right: 0; /* Убираем отступ справа от изображения */
        margin-bottom: 10px; /* Добавляем отступ снизу для разделения с текстом */
    }

    .gallery-item {
        width: 100%; /* Изображения занимают всю ширину на мобильных устройствах */
    }

    nav {
        flex-direction: column; /* Изменяем направление навигации на колонку для мобильных устройств */
    }
}

/* Убираем отступы на мобильных устройствах */
@media (min-width: 600px) {
    .container {
        padding: 0 20px; /* Отступы слева и справа только для широких экранов */
    }
}


